@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');


body{
    font-family: 'roboto' 'sans-serif' 'Raleway';
    background: #FFFFFF;
}

.buttons .button{
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}

.buttons .button:hover {
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;

    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
}
 
                                /*   encabezado   */

ul{
    list-style-type: none;
}

.link-webstudio{
    
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    text-align: right;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.link-header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.link-header:hover {
    color: #2196F3;
}

.header-email-tel a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.header-email-tel a:hover{
    color: #2196F3;
}

                        /*   titulo  section 1 */
.titulo-principal{
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title-fondo{
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;

    background: #2F303A;
}
                            /* section 2*/

.title-1p{
    width: 270px;
    height: 16px;
    left: 215px;
    top: 775px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}                            

.parrafo-1{
width: 270px;
height: 75px;
left: 215px;
top: 801px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}

.title-2p{
width: 270px;
height: 16px;
left: 515px;
top: 775px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.parrafo-2{
width: 270px;
height: 96px;
left: 515px;
top: 801px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;
}

.title-3p{
width: 270px;
height: 16px;
left: 815px;
top: 775px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.parrafo-3{
width: 270px;
height: 75px;
left: 815px;
top: 801px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #757575;
}

.title-4p{
width: 270px;
height: 16px;
left: 1115px;
top: 775px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.parrafo-4{
width: 270px;
height: 75px;
left: 1115px;
top: 801px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #757575;
}
                                     /* section 3*/
.title-principal-2{
width: 371.15px;
height: 46.24px;
left: 619.43px;
top: 991px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.img-title-2-1{
width: 373.16px;
height: 323.7px;
left: 215px;
top: 1092.3px;
}

.img-title-2-2{
width: 373.16px;
height: 323.7px;
left: 618.42px;
top: 1092.3px;
}

.img-title-2-3{
width: 373.16px;
height: 323.7px;
left: 1015px;
top: 1092px;
}

.title-n-equipo{
width: 263px;
height: 42px;
left: 669px;
top: 1604px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.section-foto-title h3{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;
color: #212121;
}

.section-foto-title p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: #757575;

}
                        /*    pie de pagina    */
footer {
    background: #2F303A;
}

.piepag-direcion{
width: 231px;
height: 21px;
left: 215px;
top: 2258px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #FFFFFF;

}

.pie-pag-email-tel a:hover{
    color: #2196F3;
}

.pie-pag-email-tel .header-email{
    width: 231px;
height: 21px;
left: 215px;
top: 2306px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.pie-pag-email-tel .header-tel{
    width: 231px;
height: 21px;
left: 215px;
top: 2306px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
                        /*portafolio*/
.title-img-portafolio h3{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    
    letter-spacing: 0.06em;
    
    color: #212121;
}

.parrafo-img{
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #757575;

}