@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');


body{
    font-family: 'roboto' 'sans-serif' 'Raleway';
    background: #FFFFFF;
}

.buttons .button{
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}

.buttons .button:hover {
    color: #FFFFFF;
    background: #2196F3;

}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;

    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
}
 
                                /*   encabezado   */

ul{
    list-style-type: none;
}

.link-webstudio{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    text-align: right;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.link-estudio{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.link-portafolio{
    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.link-contactos{
    position: absolute;
    width: 67px;
    height: 16px;
    left: 667px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.header-email{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.header-tel{
    position: absolute;
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

                        /*   titulo  section 1 */
.titulo-principal{
    position: absolute; 
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title-fondo{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;

    background: #2F303A;
}
                            /* section 2*/

.title-1p{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 775px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}                            

.parrafo-1{
    position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}

.title-2p{
    position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.parrafo-2{
    position: absolute;
width: 270px;
height: 96px;
left: 515px;
top: 801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;
}

.title-3p{
    position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.parrafo-3{
    position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #757575;
}

.title-4p{
    position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.parrafo-4{
    position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #757575;
}
                                     /* section 3*/
.title-principal-2{
    position: absolute;
width: 371.15px;
height: 46.24px;
left: 619.43px;
top: 991px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.img-title-2-1{
    position: absolute;
width: 373.16px;
height: 323.7px;
left: 215px;
top: 1092.3px;

background: url(.jpg);
mix-blend-mode: normal;
}

.img-title-2-2{
    position: absolute;
width: 373.16px;
height: 323.7px;
left: 618.42px;
top: 1092.3px;

background: url(.jpg);
}

.img-title-2-3{
    position: absolute;
width: 373.16px;
height: 323.7px;
left: 1015px;
top: 1092px;

background: url(.jpg);
}